<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
      <Connection Mode="AppSettings" ConnectionString="Data Source=KIRITOVO-PC\SQLEXPRESS;Initial Catalog=TaiKhoan;User ID=sa" SettingsObjectName="DAL.Properties.Settings" SettingsPropertyName="TaiKhoanConnectionString" Provider="System.Data.SqlClient" />
    </startup>
</configuration>