<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="DAL.Properties.Settings.TaiKhoanConnectionString"
      connectionString="Data Source=KIRITOVO-PC\SQLEXPRESS;Initial Catalog=TaiKhoan;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="DAL.Properties.Settings.TaiKhoanConnectionString1"
      connectionString="Data Source=DESKTOP-M1QQ7T4\SQLEXPRESS;Initial Catalog=TaiKhoan;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <Connection Mode="AppSettings" ConnectionString="Data Source=KIRITOVO-PC\SQLEXPRESS;Initial Catalog=TaiKhoan;User ID=sa" SettingsObjectName="DAL.Properties.Settings" SettingsPropertyName="TaiKhoanConnectionString" Provider="System.Data.SqlClient" />
</configuration>